{% extends "user/betsy.html" %}
<!-- betsy_content -->
{% block betsy_content%}
<article id="form-area" style="margin-top: 30px">
  <h1>Search for products based on a term</h1>
  <hr />
  <form action="" method="post">
    <label for="term">Term</label>
    <input type="text" name="term" id="term" />
    <button type="submit" name="submit-search">Search product</button>
  </form>
</article>
<article class="result">
  {% for item in res %}
  <h4>{{ item.name }}</h4>
  <span
    >{{ item.description }} Price: {{ item.price_per_unit }} per unit. Quantity
    in stock: {{ item.amount_in_stock }}.</span
  >
  <hr />
  {% endfor %}
  <!-- message -->
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
</article>
{% endblock %}
